---
import { type CollectionEntry, getCollection } from "astro:content";
import SharedLayout from "@layouts/SharedLayout.astro";
import "github-markdown-css/github-markdown-dark.css";
import "@/styles/override.css";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	// biome-ignore lint/suspicious/noExplicitAny: <explanation>
	return posts.map((post: { slug: any; }) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<SharedLayout headings={headings}>
	<div class="markdown-body">
		<Content />
	</div>
</SharedLayout>
