---
import type { GetStaticPathsOptions, MDXInstance } from 'astro';
import { vstack } from "@styled-system/patterns";
import PostCard from "@components/PostCard.astro";
import SharedLayout from '@/layouts/SharedLayout.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const allPosts: MDXInstance<Record<string, any>>[] = await Astro.glob("../../content/blog/**/*.mdx");
	const blogPages =  allPosts.map((p) => {
		return {
			title: p.frontmatter.title as string,
			url: p.url as string,
			updatedDate: p.frontmatter.updatedDate as string
		}
	});

  return paginate(blogPages, { pageSize: 10 });
}
const { page } = Astro.props;
---

<SharedLayout>
	<div class={vstack({ gap: '6', width: "100%"})} >
		{page.data.map(({title, url, updatedDate}) => {
			return <PostCard title={title} purl={url} updatedDate={updatedDate} />
		})}
	</div>
</SharedLayout>