.markdown-body {
  padding: 2em;
  background-color: #374151;
  border-radius: 0.8em;
  font-weight: 600;
}
.markdown-body img.copy-btn {
  background-color: transparent !important;
}

.markdown-body img.copy-btn:hover {
  background-color: rgba(200, 200, 200, 0.4) !important;
}

.markdown-body a {
  color: #93c5fd;
}

.markdown-body pre.astro-code {
  padding: 0 1em !important;
}