---
import { css } from "@styled-system/css";

interface Props {
	title: string;
  purl?: string;
  updatedDate: string;
}

const {title, purl, updatedDate} = Astro.props;
const url: string = purl?.split("/").at(-2) as string;
---

<article class={css({width: "100%", backgroundColor: "white", p: "0.5em", border: "1px solid black"})}>
  <p>{updatedDate}</p>
  <a href=`/posts/${purl?.split("/").at(-2)}`>
    <h2 class={css({fontSize: "2xl", fontWeight: 'bold'})}>{title}</h2>
  </a>
  <p>{url}</p>
</article>