---
import { css } from "@styled-system/css";
---

<div
  class={css({
    display: ["none", "none", "none", "block"],
    backgroundColor: "#374151",
    borderRadius: "0.8em",
    fontWeight: 600,
    padding: "0.5em",
    width: "350px",
    minHeight: "400px",
    height: "100%",
  })}
>
  <p>趣味で扱った技術や作成したアプリについて、備忘録として書いていきます。</p>

  <div class={css({ pt: "1em" })}>
    <span>Github : </span>
    <a class={css({ color: "blue.300" })} href="https://github.com/yumu-uw"
      >https://github.com/yumu-uw</a
    >
  </div>
</div>
