---
import { css } from "@styled-system/css";

interface Props {
  tag: string;
}

const {tag} = Astro.props;
---

<a class={css({backgroundColor: "gray.500", borderRadius: "0.5em" , py: "0.1em", px: "0.4em"})}>
  <span class={css({fontSize: "1.1em"})}>{tag}</span>
</a>