---
import SideBar from "@/components/SideBarProfile.astro";
import SideBarHeadings from "@/components/SideBarHeadings.astro";
import { css } from "@styled-system/css";
import { container, flex } from "@styled-system/patterns";
import type { MarkdownHeading } from "astro";

import '@/index.css';

interface Props {
  headings?: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>YUMUの備忘録</title>
  </head>
  <body class={css({ backgroundColor: "gray.900", color: "white" })}>
    <div class={css({ backgroundColor: "rgb(20, 24, 33)" })}>
      <div class={container({ maxWidth: "8xl", py: "0.5em" })}>
        <a
          href="/"
          class={css({ color: "white", fontWeight: "bold", fontSize: "3xl" })}
          >YUMUの備忘録</a
        >
      </div>
    </div>

    <div class={container({ maxWidth: "8xl", pt: "2em" })}>
      <div
        class={flex({
          width: "100%",
          gap: 8,
        })}
      >
        <div class={css({ flex: 1 })}>
          <slot />
        </div>
        <div
          class={css({
            display: ["none", "none", "none", "block"],
            width: "380px",
            height: "100%",
            top: "10px",
            position: "sticky",
          })}
        >
          <SideBar />
          <SideBarHeadings headings={headings} />
        </div>
      </div>
    </div>
  </body>
</html>
